header {
  background: #eee;
  border-bottom: #678;
  text-align: center;
  h1 {
    margin: 0;
    padding: 2rem 0;
    font-family: avenir;
    font-size: 3rem;
  }
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

#album-container {
  width: 100%;
  margin: 0 auto;
  ul {
    margin-top: 4rem;
  }
  a {
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
  }
  img {
    width: auto;
    height: 250px;
  }
}

.zoomed-in {
  height: 500px;
  width: auto;
}

h2 {
  font-family: avenir;
    margin-left: 3%;
    font-size: 3rem;
}

li {
  margin: 20px;
  height: 350px;
  width: 25%;
  border: 1px solid black;
  display: inline-block;
  overflow: hidden;
  }

  .image {
    width: 20%;
  }

  .zoomed-in {
    width: 70%;
    height: 700px;
  }


.display-none {
  display: none;

}

.album-collapse {
    height: 100px;
    width: 100%;
    margin: 0;
    display: inline-block;
}

.navigation-collapse {
  width: 25%;
  float: left;
  margin: 0;
}
